// out: style.css

@import "bootstrap/variables";

@production: none;
@demo-color: #000;

#login-area {
    @top-spacer: 50px;
    top: @top-spacer;
    
    @media (min-width: @screen-md-min) {
        @height: 160px;
        height: @height;
        top: (@top-spacer*2);
        left: 50%;
        @width: 600px;
        max-width: @width;
        margin-left: (-1*@width/2);
        position: absolute;
    }
    text-align: center;
}

#username-field {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#interaction-area {
    display: @production;
    width: 100%;
}

#header-area {
    .title-edit {
        font-size: @font-size-h1;
        font-family: @font-family-base;
        font-weight: @headings-font-weight;
        line-height: @headings-line-height;
        margin-top: 17px;
        margin-left: -1px;
        margin-bottom: 2px;
        padding: none;
        border: none;
        outline: none;
        width: 0px;
        border-bottom: 4px solid @gray-lighter;
    }
    
    text-align: center;
    
    @media (min-width: @screen-md-min) {
        text-align: left;
    }
}

#chat-area {
    @height: 500px;
    @width: 400px;
    @padding: 20px;
    position: absolute;
    max-height: @height;
    top: 70px;
    width: 100%;
    max-width: 400px;
    bottom: 0px;
    left: 50%;
    margin-left: (-1*@width/2);
    margin-right: auto;
    margin-bottom: 20px;
    padding-right: @padding;
    padding-left: @padding;
    
    @media (min-width: @screen-md-min) {
        position: relative;
        margin-right: 0;
        left: 0;
        top: 10px;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
    
    #message-area {
        padding: 10px;
        overflow-y: scroll;
        bottom: 0px;
        border: 1px solid @input-border;
        border-bottom: none;
        border-top-left-radius: @border-radius-base;
        border-top-right-radius: @border-radius-base;
        
        @media (min-width: @screen-md-min) {
            height: (@height - @input-height-large);
        }
        
        .username {
            display: block;
            margin-top: 3px;
            font-size: 18px;
            font-weight: 300;
            color: @demo-color;
            line-height: 25px;
        }
        
        .message {
            border-left: 3px solid @demo-color;
            padding-left: 3px;
            font-size: 16px;
        }
    }
    
    #input-box {
        input {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
}

#chat-field {
    display: none;
}

button {
    outline: none !important;
}

.animate {
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}